.myfa-orcid::before{
        content:url('images/orcid.png');
        content:"\f10c";
}

button.accordion{
    background-color: transparent;
    color: #787878;
    cursor: pointer;
    padding: 0.35em 1em 0.35em 2.5em;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    margin-bottom:1em;
    border: solid 3px #efefef;
    border-radius:0.35em 0.35em 0 0;
}

button::-moz-focus-inner{
    border:0;
}
button.accordion.active, button.accordion:hover {
    border-color: #49bf9d;
    color: #49bf9d;
}
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

div.panel.show {
    display: block;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
#main{
        padding:0;
        padding-top:8em;
}
#main section{
        margin:0;
        padding: 1em 4em 1em 4em;
        z-index: -2;
}
#main section:nth-child(even){
        background-color: #eceff1;
        box-shadow: 0 1px 3px rgba(0,0,0,0.4), 0 1px 2px rgba(0,0,0,0.8);
        border-radius: 2px;
        z-index: -1;
}
